
body{
margin: 0;
padding: 0;
background-color: #ccc;
}
ul{
position: absolute;
/* top: 95%; */
left: 50%;
transform: translate(-50%, -50%);
margin-top: 15px;
padding: 0;
display: -webkit-inline-box;

}
ul li{
list-style: none;
margin: 0 13px;


}
ul li .fa{
font-size: 22px;
color: #262626;
line-height: 20px;
transition: .5s;

}
ul li a{
position: relative;
display: block;
width: 40px;
height: 20px;
background-color:rgb(248, 226, 31);
text-align: center;
transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
transition: .5s;
box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}
ul li a::before{
content: "";
position: absolute;
top: 10px;
left: -20px;
height: 100%;
width: 20px;
background: #ffc107;
transition: .5s;
transform: rotate(0deg) skewY(-45deg);
}
ul li a::after{
content: "";
position: absolute;
top: 20px;
left: -11px;
height: 20px;
width: 100%;
background: #ffc107;
transition: .5s;
transform: rotate(0deg) skewX(-45deg);
}
ul li a:hover{
transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
ul li:hover .fa{
color: #fff;
}
ul li:hover:nth-child(1) a{
background: #3b5999;
}

ul li:hover:nth-child(1) a:before{
background: #2e4a86;
}
ul li:hover:nth-child(1) a:after{
background: #4a69ad;
}
ul li:hover:nth-child(2) a{
background: #55acee;
}
ul li:hover:nth-child(2) a:before{
background: #4184b7;
}
ul li:hover:nth-child(2) a:after{
background: #4d9fde;
}
ul li:hover:nth-child(3) a{
background: #dd4b39;
}

ul li:hover:nth-child(3) a:before{
background: #c13929;
}
ul li:hover:nth-child(3) a:after{
background: #e83322;
}

ul li:hover:nth-child(4) a{
background: #0f0f0f;
}

ul li:hover:nth-child(4) a:before{
background: #0f0f0f;
}
ul li:hover:nth-child(4) a:after{
background: #0f0f0f;
}

ul li:hover:nth-child(5) a{
background: rgb(254, 0, 0);
}

ul li:hover:nth-child(5) a:before{
background: rgb(254, 0, 0);
}
ul li:hover:nth-child(5) a:after{
background: rgb(254, 0, 0);
}


#footer{
    
    color: white;
    border-top: 20px solid white;
    background-color: #c91d61;
    background: linear-gradient(20deg,blue,crimson,purple); /*Change colors as you want*/
    background-size: 1000% 1000% !important;
    -webkit-animation: changeColors 30s ease infinite;
    -moz-animation: changeColors 30s ease infinite;
    -o-animation: changeColors 30s ease infinite;
    animation: changeColors 30s ease infinite;
   
}

@-webkit-keyframes changeColors {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.marginBottom {
    margin-top: 0;
    margin-bottom: 0rem;
}

