<div class="container">
    <div style="margin-top: 20px;" class="row">
        <div class="col">
            <a class="btn btn-warning" routerLink="/dashboard">
                <h4><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                    Back to Dashboard </h4>
            </a>
            <div style="margin-top: 10px" class="jumbotron bg-warning ">
                <h4 style="margin-top:-20px;" class="display-5 font-weight-bold text-center"><i style="color: darkred"
                        class="fa fa-user-circle" aria-hidden="true"></i> Add New Employee</h4>
                <div style="margin-top: 10px;" class="container">

                    <form novalidate (ngSubmit)="onsubmit(postForm)" #postForm="ngForm">

                        <div class="form-group">

                            <input placeholder='First Name' name='firstName' required [(ngModel)]="employee.firstName"
                                type="text" class="form-control" id="firstName" required minlength='3' #firstName="ngModel">
                            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                                <div *ngIf="firstName?.errors.required">
                                    First Name is required.
                                </div>
                                <div *ngIf="firstName?.errors.minlength">
                                    First Name should more than Three letters.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input  placeholder="Last Name" name='lastName' required [(ngModel)]="employee.lastName"
                                type="text" class="form-control" id="lastName" required minlength='3' #lastName="ngModel">
                            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                                <div *ngIf="lastName?.errors.required">
                                    Second Name is required.
                                </div>
                                <div *ngIf="lastName?.errors.minlength">
                                    Second Name should more than Three letters.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input placeholder="Email" name='email' required [(ngModel)]="employee.email" type="email"
                                class="form-control" id="email" required email=true #email="ngModel">
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                <div *ngIf="email?.errors.required">
                                    Email is required.
                                </div>
                                <div *ngIf="email?.errors.email">
                                    Not An Email
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <input placeholder="Conuntry" name='country' required [(ngModel)]="employee.country" type="text" class="form-control" id="country"
                                required #country="ngModel">
                            <div *ngIf="country.invalid && (country.dirty || country.touched)" class="alert alert-danger">
                                <div *ngIf="country?.errors.required">
                                    Country is required.
                                </div>
                            </div>
                        </div> -->

                        <div class="form-group">

                            <!-- Country dropdown -->
                            <mat-form-field class="col-lg-4 col-xs-12">
                                <input [(ngModel)]="country" name="country" [ngClass]="countryError?'text-danger':'text-success'" (keyup)="checkCountry();"
                                    type="text" aria-label="country" matInput [formControl]="myCountryControl"
                                     [matAutocomplete]="auto">
                                <mat-placeholder *ngIf="countryError||!country" class="badge badge-danger">Select
                                    Country</mat-placeholder>
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                    <mat-option (click)="checkCountry();" *ngFor="let option of countryOptions | async"
                                        [value]="option.name">
                                        {{option.name}}
                                    </mat-option>

                                </mat-autocomplete>
                            </mat-form-field>
                            
                            <!-- City dropdown -->
                            <mat-form-field class="col-lg-4 col-xs-12">
                                <input [ngClass]="cityError?'text-danger':'text-success'" (keyup)="checkCity()" type="text"
                                    aria-label="city" matInput [formControl]="myCityControl" [(ngModel)]="city"
                                    [matAutocomplete]="autoCity">
                                <mat-placeholder *ngIf="cityError||!city" class="badge badge-danger">Select
                                    City</mat-placeholder>
                                <mat-autocomplete autoActiveFirstOption #autoCity="matAutocomplete">
                                    <mat-option (click)="checkCity()" *ngFor="let option of cityOptions | async"
                                        [value]="option.region">
                                        {{option.region}}
                                    </mat-option>

                                </mat-autocomplete>
                            </mat-form-field>


                        </div>

                        <div class="form-group">
                            <input placeholder="Phone" name='phone' [(ngModel)]='employee.phone' type="tel" pattern="\d*"
                                class="form-control" id="phone" required minlength='12' #phone="ngModel">
                            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">

                                <div *ngIf="phone?.errors.required">
                                    Phone Number is required.
                                </div>
                                <div *ngIf="phone?.errors.minlength">
                                    Phone Number Not More Than 12 Digits
                                </div>
                                <div *ngIf="phone?.errors.pattern">
                                    Phone Should Be Digits
                                </div>

                            </div>
                        </div>

                        <div class="form-group">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-dollar"></i></span>
                                </div>

                                <input placeholder="Salary" name='salary' [(ngModel)]='employee.salary' type="number"
                                    class="form-control" id="salary" required #salary="ngModel">

                            </div>

                            <div *ngIf="salary.invalid && (salary.dirty || salary.touched)" class="alert alert-danger">
                                <div *ngIf="salary?.errors.required">
                                    Salary is required.
                                </div>
                            </div>

                        </div>
                        <div>

                            <input accept=".png,.jpg,.jpeg,.gif" #upload [hidden]="true" type='file' (change)="onSelectFile($event);">
                            <div class="row" style="min-height: 110px;">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-lg-3 col-5">
                                            <div style="margin-top:40px" (click)="upload.click();" class="btn btn-dark ">
                                                Select
                                                Photo </div>
                                        </div>

                                        <div class="col-lg-9 col-7">
                                            <img style="margin-left:20px;" *ngIf="url" class="rounded-circle" src="{{url}}"
                                                height="100px" width="100px">
                                            <img style="margin-left:20px;" *ngIf="!url && !myEvent && employee.image"
                                                class="rounded-circle" src="{{employee.image}}" height="100px" width="100px">
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="text-center">
                            <button *ngIf="!forEdit" type="submit" class="btn btn-success font-weight-bold" [disabled]="!postForm.form.valid || error">{{btnTitle}}</button>
                            <button type="submit" *ngIf="forEdit" class="btn btn-success font-weight-bold" [disabled]="!postForm.form.valid || error">{{btnTitle}}</button>
                            <button style="margin-left:30px;" type="reset" (click)="url=''" class="btn btn-success font-weight-bold">Reset</button>

                        </div>
                    </form>

                    <!-- <div class="btn btn-primary" (click)="show()">click</div> -->

                </div>
            </div>


        </div>

    </div>

    <!-- <div>
        <button (click)='getData()'>GET CITIES</button>

        <div>
            {{cities | json}}
        </div>
    </div> -->
</div>