<div class="row">
  <div class="col-sm-6 ">
    <h4>
      <i class="fa fa-users" aria-hidden="true"></i>
      Total Employees : {{totalEmployees}}
    </h4>
  </div>
  <div class="col-sm-6 leftRemove">
    <h4 class="pull-right ">
      <i class="fa fa-money" aria-hidden="true"></i>
      Total Salaries : {{totalSalaries | currency:'USD':'symbol'}}
    </h4>
  </div>
</div>
<a class="btn btn-warning"  routerLink="/add-employee"><h5><i class="fa fa-plus-circle"></i> New Employee </h5></a>
<ng-container *ngIf="employees.length>0; else elseTemplate">
  <table class="table table-dark table-responsive-md">
    <thead>
      <tr class="text-center">
        <!-- <th scope="col">#</th> -->
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th class="display-10"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let employee of employees">
        <!-- <td>{{employee.$key}}</td> -->
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.email}}</td>
        <td><a style="margin-top:-2px;" class="btn btn-primary"
           [routerLink]="['/employee',employee.$key]">More <i class="fa fa-info-circle"></i></a></td>

      </tr>
    </tbody>
  </table>
</ng-container>
<ng-template #elseTemplate>
  <h2>Waitting for Employees.......</h2>
</ng-template>